/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Playfair Display', serif;
}

header {
    padding: 10px 20px;
    color: white;
}

/* Navigation Bar */
nav {
    position: absolute;
    top: 30px;
    right: 50px;
}

nav .nav-links {
    list-style: none;
    display: flex;
}

nav .nav-links li {
    margin-left: 30px;
}

nav .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 16px;
    transition: color 0.3s;
}

nav .nav-links a:hover {
    color: #007BFF;
}


.portfolio {
    padding: 50px 20px;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
    margin-top: 120px;
}

.project img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    border: 3px solid #007BFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-info {
    max-width: 600px;
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007BFF;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
